{% extends "base.html" %}
{% block extrastatic %}
<script type="text/javascript" src="/static/js/admin/jquery-1.10.2.min.js"></script>
<style>
#changepasswordarea {
float: left;
padding-top: 100px;
}
</style>
{% endblock %}
{% block centercontent %}
<div id="changepasswordarea">
<form class="changepassword" name="changepassword" id="changepassword" action="/changepassword/" method="POST">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="form-group">
<label for="password">Old Password</label>{{ form.curr_password }}{{form.password.errors}}
<br/>
<label for="password">New Password</label>{{ form.new_password }}{{form.password.errors}}
<br/>
<label for="password">New Password Again</label>{{ form.new_password_rep }}{{form.password.errors}}
</div>
<button type="submit" class="btn btn-success">
<i class="icon-circle-arrow-right icon-large"></i> Submit
</button>
</form>
</div>
{% endblock %}