{% extends "base.html" %}
{% block extrastatic %}
<script type="text/javascript" src="/static/js/admin/jquery-1.10.2.min.js"></script>
<link href="/static/bootstrap-datetimepicker.css" type="text/css" rel="cas">


{% endblock %}

{% block centercontent %}
    <!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/static/img/team/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Prashant Gaur</b></h4>
					<a href="//twitter.com/iamprashantgaur" class="icon icon-twitter" target=_blank></a>
					<a href="//facebook.com/prashantgaur.in" class="icon icon-facebook" target=_blank></a>
					<p>Prashant Gaur an expert technical knowledge with a real eye for web development.he fully understands objectives when working on a project.</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/static/img/team/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>2</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<p>No Content Found</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/static/img/team/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>3</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<p>No Content Found</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/static/img/team/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>4</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<p>No Content Found</p>
				</div><!-- col-lg-3 -->

			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="/static/img/we_hiring.gif" align="">
					</div>
					<div class="col-lg-4">
						<h2>We Are Hiring!</h2>
						<p>If you’re really bright, passionate about world-changing software and want to do something amazing, join us</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->

{% endblock %}
