
{% extends "base.html" %}
{% block extrastatic %}
<script type="text/javascript" src="/static/js/admin/jquery-1.10.2.min.js"></script>
{% endblock %}

{% block centercontent %}


		<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">Share Ride , Share bucks.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras placerat nunc et tincidunt pharetra. Praesent lacinia euismod eros at placerat. Donec pulvinar ligula in lorem elementum, sed interdum risus gravida. Cras at varius elit. Suspendisse tincidunt ipsum vel est scelerisque, a volutpat sapien tincidunt. Donec aliquet, dui ut gravida iaculis, orci risus mattis felis, vitae gravida erat tortor at risus. Phasellus vel purus varius, vehicula ligula sit amet, rhoncus lectus. Maecenas scelerisque elementum sapien sed consequat.

Sed pulvinar pulvinar nisi a dictum. Aliquam pharetra, risus at consequat posuere, dolor ipsum placerat eros, imperdiet condimentum ligula tortor sed nulla. Donec tristique venenatis dictum. Cras faucibus condimentum libero vitae cursus. Nulla pulvinar nibh ac dolor interdum, sit amet venenatis leo auctor. Praesent elementum semper ipsum, sed commodo diam sodales ac. Proin euismod ullamcorper nulla ut laoreet. Nunc libero erat, tempus vitae gravida sed, viverra vel dolor. Phasellus sodales est sit amet erat faucibus rhoncus.

In aliquam nisl ac commodo ornare. Praesent massa sapien, auctor non lectus quis, congue hendrerit purus. Mauris posuere, tellus non viverra luctus, elit lacus aliquam orci, non aliquet erat mauris consectetur mi. Suspendisse potenti. Cras luctus augue ac eros tristique dapibus. Cras nec accumsan sapien. Praesent pharetra posuere leo sagittis condimentum. Etiam quis augue sed tellus malesuada tincidunt vitae eu metus. Aliquam enim ipsum, bibendum et magna in, faucibus vulputate sem. Aenean vestibulum massa ut massa accumsan, a interdum metus bibendum.

Nulla at vulputate ante, in condimentum augue. Sed vulputate a diam id auctor. Curabitur vel nibh vehicula, suscipit nunc quis, varius nibh. Phasellus ultricies libero non aliquet hendrerit. Pellentesque laoreet ipsum blandit odio pulvinar vehicula. Aliquam faucibus a neque ut commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce lobortis, mi eget convallis hendrerit, est nisl tempus nibh, quis vestibulum dui purus quis leo.

Sed tellus nulla, ultrices a nisi ut, porta eleifend enim. Aenean fermentum at lectus id iaculis. Aliquam eget varius turpis, quis bibendum lectus. Vivamus consequat tellus tellus, et volutpat mi ullamcorper in. Phasellus augue leo, adipiscing eget gravida id, laoreet vehicula massa. Nunc in lacinia nulla. Duis cursus dui ullamcorper libero tincidunt, vitae aliquet nibh volutpat. Nam vitae cursus elit. Donec et leo pretium, sodales neque ut, mattis sapien. Donec eget iaculis quam, suscipit accumsan tortor. Mauris ac lectus non nulla interdum pulvinar vestibulum sit amet ipsum
					</p>

				</div><!-- col-lg -->
			</div><!-- row -->


		</div><!-- container -->


		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div><!-- container -->
		</section><!-- section -->


		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== PORTFOLIO ==== -->
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE CREATE COOL STUFF</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">

				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio01.jpg" alt="">
							<figcaption>
								<h5>DASHBOARD</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->


						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->

						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Project Title</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="/static/img/portfolio/folio01.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio02.jpg" alt="">
							<figcaption>
								<h5>UI DESIGN</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio03.jpg" alt="">
							<figcaption>
								<h5>ANDROID PAGE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio04.jpg" alt="">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio05.jpg" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/static/img/portfolio/folio06.jpg" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

		<!-- ==== SECTION DIVIDER4 ==== -->
		<section class="section-divider textdivider divider4">
			<div class="container">
				<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
				<hr>
				<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
			</div><!-- container -->
		</section><!-- section -->

{% endblock %}

